<footer id="footer" class="footer position-relative light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="{% url 'UzimaHealth:Home' %}" class="logo d-flex align-items-center mb-3">
          <span class="sitename">UzimaHealth</span>
        </a>
        <div class="footer-contact">
          <p>Tegecha lane, kericho</p>
          <p class="mt-3"><strong>Phone:</strong> <span>+254794760331</span></p>
          <p><strong>Email:</strong> <span>anonclassic18@gmail.com</span></p>
        </div>
      </div>

      <!-- Useful Links -->
      <div class="col-lg-4 col-md-6 footer-links">
        <h4>Useful Links</h4>
        <ul>
          <li><a href="{% url 'UzimaHealth:Home' %}">Home</a></li>
          <li><a href="{% url 'UzimaHealth:about' %}">About us</a></li>
          <li><a href="{% url 'UzimaHealth:services' %}">Services</a></li>


        </ul>
      </div>

      <!-- Services -->
      <div class="col-lg-4 col-md-6 footer-links">
        <h4>Our Services</h4>
        <ul>
          <li><a href="{% url 'UzimaHealth:services' %}">Outpatient Care</a></li>
          <li><a href="{% url 'UzimaHealth:services' %}">Maternity & Child Health</a></li>
          <li><a href="{% url 'UzimaHealth:services' %}">Laboratory & Diagnostics</a></li>

        </ul>
      </div>

    </div>
  </div>

  <!-- Bottom Section -->
  <div class="container copyright text-center mt-4">
    <p>© <span>Copyright</span> 
      <strong class="px-1 sitename">UzimaHealth</strong> 
      <span>All Rights Reserved</span>
    </p>
    
  </div>

</footer>
