{% extends 'base.html' %}
{% load static %}
{% block title %}Services - {% endblock %}
{% block content %}






  <main class="main">

    <!-- Page Title -->
    <div class="page-title">


      <div class="title-wrapper">
        <h1>Services</h1>
        <p>At UzimaHealth, we provide a range of trusted healthcare services designed to make your medical journey simple, accessible, and reliable. From booking essential diagnostic tests to receiving personalized care, we ensure that every patient is supported with professionalism and compassion</p>

      </div>
    </div><!-- End Page Title -->

    <!-- Services Section -->
    <section id="services" class="services section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="services-tabs">

          <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade show active" id="services-primary" role="tabpanel">
              <div class="row g-4">
                <div class="col-lg-6">
                  <div class="service-item">
                    <div class="service-details">
                      <h5>General Consultation</h5>
                      <p>
                        Sometimes all you need is timely medical advice and guidance. Our qualified professionals are ready to provide practical solutions for your everyday health needs.
                      </p>
                      <ul class="service-benefits">
                        <li><i class="fa fa-check-circle"></i>Primary Care Consultations</li>
                        <li><i class="fa fa-check-circle"></i>Family Medicine</li>
                        <li><i class="fa fa-check-circle"></i>Chronic Condition Management</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="service-item">
                    <div class="service-details">
                      <h5>Diagnostics</h5>
                      <p>Accurate diagnosis is the first step to proper treatment. We make it easy for you to book and complete essential tests without delays.</p>
                      <ul class="service-benefits">
                        <li><i class="fa fa-check-circle"></i>Blood Tests</li>
                        <li><i class="fa fa-check-circle"></i>X-Ray & Ultrasound</li>
                        <li><i class="fa fa-check-circle"></i>CG and other Lab Services</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="service-item">
                    <div class="service-details">
                      <h5>Maternal Health</h5>
                      <p>We provide supportive care for mothers and children at every stage, ensuring safe deliveries and healthy growth</p>
                      <ul class="service-benefits">
                        <li><i class="fa fa-check-circle"></i>Prenatal Care</li>
                        <li><i class="fa fa-check-circle"></i>Delivery Support</li>
                        <li><i class="fa fa-check-circle"></i>Postnatal Care</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="service-item">
                    <div class="service-details">
                      <h5>Preventive Care</h5>
                      <p>Your health is safest when monitored regularly. Our preventive care services help you stay ahead of potential risks through early detection and proactive planning.</p>
                      <ul class="service-benefits">
                        <li><i class="fa fa-check-circle"></i>Comprehensive Health Assessments</li>
                        <li><i class="fa fa-check-circle"></i>Routine Health Monitoring</li>
                        <li><i class="fa fa-check-circle"></i>Vaccination & Immunization Programs</li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Services Section -->

  </main>

 

{% endblock %}
